footer {
  
  background: #2c2b2b;
  padding: 2em;
  display: flex;
  width: 100%;
  


  .footerlogo img {
    height: 20px;
    display: block;
    filter: invert(1);
    margin-bottom: 0.8em;
  }
  a {
    color: white;
    display: block;
    padding: 0.5em;
    text-decoration: none;
  }
  i {
    color: white;
    padding-right: 0.5em;
  }
}
