.search {
  padding: 20px 0;
  background: linear-gradient(darken(#f6f6f6, 20%), darken(#f6f6f6, 5%) 10%);
  display: flex;
  justify-content: center;
  .input {
    width: 11rem;
    text-align: center;
    border: none;
    background: transparent;
  }
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.explorer h2 {
  margin: 0;
}
.explorer p {
  font-size: 1.3rem;
  font-weight: normal;
}
.explorer_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
 // position: fixed;
 
  
}



.run {
  padding: 2em 1em;
  .title {
    width: 100%;
    margin-bottom: 1em;
    display: block;
    text-align: left;
    font-size: 26px;
    padding: 1em 0 0;
  }
  .item {
    display: flex;
    background: lighten(#dddddd, 10%);
    border-radius: 20px;
    box-shadow: $shadow;
    position: relative;
    margin: 2em auto;
    max-width: 320px;
    height: 75px;
    padding: 1em;

    &:hover {
      background: lighten($color3, 35%);
      i {
        color: $color3;
      }
    }
  }
  .number {
    color: white;
    background: $color3;
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
  }
  .icon {
    color: darken(#f6f6f6, 40%);
    font-size: 20px;
    margin: 0.5em 1em;
  }
  .subtitle {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
  }
}

@include laptops {
  .run {
    @include flexbox;
    margin: 1em 0;
    .item {
      height: 115px;
      margin: 1em 2em;
      @include flexbox($direction: column, $wrap: nowrap);
    }
    .number {
      top: -15px;
      margin: auto;
      left: unset;
    }
    .icon {
      top: 10px;
      position: absolute;
    }
    .subtitle {
      padding: 1em;
      display: flex;
      align-items: center;
    }
  }
}

/*--Restaurants--*/



 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color6;
  padding-top: 15px;
  padding-bottom: 50px;
}
.carte {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: $shadow;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    box-shadow: 0 15px 30px -10px black;
  }

  .image {
    position: relative;
    width: 100%;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
    }
    .new {
      background-color: $color5;
      text-align: center;
      font-size: 16px;
      width: 90px;
      padding: 5px 1px;
      position: absolute;
      right: 4%;
      top: 8%;
      border-radius: 3px;
      color: green;
      height: 30px;
    }

    

  }
  .info {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    line-height: 0px;
    .titre {
      width: 80%;
    }
    p {
      font-size: 14px;
      margin-left: 10px;
      font-weight: 500;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
      margin-left: 10px;
    }
    
  }
}
@media all and (max-width: 425px) {
  h4 {
    width: 90%;
    text-align: left;
  }
  h4 {
    text-align: center;
  }
}
@media all and (min-width: 769px) {

  .box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h4 {
      width: 100%;
      text-align: center;
    }
    .carte {
    width: 20%;
    margin-right: 30px;
    .coeur {
      right: 11%;
      }
    }
  }
}

@media (min-width: 1190px) {
  .restocarte {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 8em 8em;
  }
}