
.headermenu{
    background-image: url("/img/la_palette_du_gout.jpg");
  }

.menu{
    background-image: url("/img/la_palette_du_gout.jpg");
    width: 1600px;
    height: 400px;

}
.bon {

    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    box-shadow: non ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

 

