@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-weight: normal;
  font-family: Shrikhand, sans-serif;
}

p {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes fill {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes homespinner {
  0% {
    transform: scale(1);
  }
  97% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 5px 20px -10px #000000;
  padding: 1em;
}
header .logo img {
  width: 180px;
}

footer {
  background: #2c2b2b;
  padding: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .footerlogo img {
  height: 20px;
  display: block;
  filter: invert(1);
  margin-bottom: 0.8em;
}
footer a {
  color: white;
  display: block;
  padding: 0.5em;
  text-decoration: none;
}
footer i {
  color: white;
  padding-right: 0.5em;
}

@media (min-width: 1190px) {
  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 8em 8em;
  }
}
.search {
  padding: 20px 0;
  background: linear-gradient(#c3c3c3, #e9e9e9 10%);
  display: flex;
  justify-content: center;
}
.search__input {
  width: 11rem;
  text-align: center;
  border: none;
  background: transparent;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.explorer h2 {
  margin: 0;
}

.explorer p {
  font-size: 1.3rem;
  font-weight: normal;
}

.explorer_link {
  text-decoration: none;
}

.button {
  display: flex;
  background: linear-gradient(175deg, #ff79da, #9356DC);
  box-shadow: 2px 5px 10px #aaaaaa;
  justify-content: center;
  border-radius: 2rem;
  margin-bottom: 1rem;
  min-width: 15rem;
  color: #FFFFFF;
  height: 3.5rem;
  padding: 0 2rem;
  align-items: center;
  position: relative;
}
.button::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background-color: #FFFFFF;
  box-shadow: 2px 5px 5px #000000;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.button:hover::after {
  opacity: 0.33;
}

.run {
  padding: 2em 1em;
}
.run__title {
  width: 100%;
  margin-bottom: 1em;
  display: block;
  text-align: left;
  font-size: 26px;
  padding: 1em 0 0;
}
.run__item {
  display: flex;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 5px 20px -10px #000000;
  position: relative;
  margin: 2em auto;
  max-width: 320px;
  height: 75px;
  padding: 1em;
}
.run__item:hover {
  background: #f2eafb;
}
.run__item:hover i {
  color: #9356DC;
}
.run__number {
  color: white;
  background: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
}
.run__icon {
  color: #909090;
  font-size: 20px;
  margin: 0.5em 1em;
}
.run__subtitle {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
}

@media (min-width: 1290px) {
  .run {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  .run__item {
    height: 115px;
    margin: 1em 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .run__number {
    top: -15px;
    margin: auto;
    left: unset;
  }
  .run__icon {
    top: 10px;
    position: absolute;
  }
  .run__subtitle {
    padding: 1em;
    display: flex;
    align-items: center;
  }
}
/*--Restaurants--*/
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 2rem;
}

.carte {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 400px;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 5px 10px #c3c3c3;
  margin-bottom: 2rem;
}
.carte__img {
  width: 100%;
  height: 13rem;
}
.carte__img .photo {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
}
.carte__info {
  display: flex;
  padding: 0 0 0 1rem;
  justify-content: space-between;
  align-items: flex-end;
}
.carte__info h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.carte__new {
  text-align: center;
  color: #1b6150;
  background-color: #99E2D0;
  position: relative;
  border-radius: 4px;
  top: -210px;
  /*right: -280px;*/
  width: 100px;
  height: 30px;
  padding: 2px;
}
.carte:hover .photo {
  transition: transform 0ms 100ms ease-in;
  transform: scale(1.1);
}

@media (min-width: 1190px) {
  .restocarte {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 8em 8em;
  }
}
.coeur {
  font-size: 2rem;
  position: relative;
}

.coeur > .fas {
  color: #9356DC;
  position: absolute;
  left: 0;
  top: 0.15rem;
  transform: scale(0);
}

.coeur:hover > .fas {
  animation-timing-function: ease-in-out;
  transform: scale(1);
}

.headermenu {
  background-image: url("/img/la_palette_du_gout.jpg");
}

.menu {
  background-image: url("/img/la_palette_du_gout.jpg");
  width: 1600px;
  height: 400px;
}

.bon {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: non;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.loadingPage {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 10%;
  transform: scale(0);
  animation: homespinner 2s;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #FF79DA left 50%/100% 60% no-repeat url("/img/restaurant.svg");
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #99E2D0;
  animation: spinny 2s linear infinite;
}

/*# sourceMappingURL=style.css.map */
