.btn {
	color: #fbfbfb;
	height: 3.5rem;
	min-width: 10rem;
	border-radius: 2rem;
	background: linear-gradient(175deg, #FF79DA, #9356DC);	
	box-shadow: 2px 5px 10px darken(#F6F6F6, 30%);				
	padding: 0 2rem;
	margin-bottom: 1rem;
	font-size: 20px;
	display: flex;								
	justify-content: center;					
	align-items: center; 					
	position: relative;						
	&::after {							
		content:"";
		height: 100%;
		width: 100%;
		border-radius: 2rem;
		background-color: #9356DC;		
		box-shadow: 2px 5px 5px #000000;
		position: absolute;						
		left: 0;							
		top: 0;								
		opacity: 0;							
		transition: opacity 500ms ease-in-out;
	}
	&:hover {
		&::after {
			opacity: .2;					
		}
	}
}