@keyframes spinny{
  0%{
    transform: rotate(0deg) scale(1);}
  50%{
    transform: rotate(45deg) scale(1.2);}
  100%{
    transform: rotate(360deg) scale(1);}
}




@keyframes fill {
	from {
		transform: scale(0);
		animation-timing-function: ease-in-out;
	}
	95% {
		transform: scale(1.1);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes homespinner {
	0% {
	  transform: scale(1);
	}
	97% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
}

@keyframes loadingSpinner {
	from {
		z-index: 15;
		transform: rotate(0deg);
		
   }
	to {
		z-index: -5;
		transform: rotate(1080deg);
		
   }

}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translatex(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes check {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes loading {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		z-index: -100;
	}
}

@keyframes group{
	from {
		left: -50rem;
	}
	to {
		left: 0;
	}
}