
@mixin flexbox($direction: row, $wrap: wrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin laptops {
    @media (min-width: 1290px) {
      @content;
    }
  }

